/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    
}
/* Header Styles */

header {
    background-color: #e19419;
    padding: 1px;
    text-align: center;
}

.header-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e19419;
    padding: 10px;
    text-align: center;
}

.header-flex-container a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
/*Home Page */
  .container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly across the main axis */
    align-items: center; /* Center items along the cross axis */
    height: 100vh; /* Set container height to 100% of the viewport height */
    text-decoration: none;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items along the cross axis */
    text-decoration: none;
    
  }
  
  .left, .right {
    flex: 1; /* Distribute available space equally between left and right containers */
    text-decoration: none;
}
 
  
  .center {
    flex: 2; /* Allow the center container to take up twice as much space as left/right containers */
  }
  
  .flex-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    flex: 0 0 auto;
  }

  .flex-container.left img {
    width: 500px;
    height: 300px;
    /* Other styles as needed */
}


  /* Container Styles */

.adhyay-container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #d3c0a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: url('../images/BackgroundPage.jpg');
    background-size: 100% 100%; /* Set background-size to cover entire container */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: black;
    
}

/* Novel Content Styles */

.novel-content {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.adhyay-name
{
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #9f6e04c7;  
}

.ovi {
   /* font-family: "Tiro Devanagari Marathi", serif;*/
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #f60303;
}

.oviartha {
    /*font-family: "Tiro Devanagari Marathi", serif;*/
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #050000c9;
}

/* Pagination Styles */

.page-content {
    display: none;
    padding: 20px;
}

#page1 {
    display: block;
}

#pagination {
    margin-top: 20px;
    display: inline-block;
    
}

#pagination a {
    font-weight: bold;
    font-size: 20px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
}

#pagination a:hover {
    background-color: #d4d5d2;
}

#pagination a.active {
    background-color: #009900;
}

/* Footer Styles */

.bottom-flex-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(244, 236, 216, 0.8);
    padding: 10px;
    text-align: left;
}

.bottom-flex-container p {
    margin: 0;
}

.bottom-flex-container a {
    color: black;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
}

.bottom-flex-container a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

/* Pagination Button Styles */

.pagination {
    text-align: center;
    margin-top: 20px;
}

button {
    font-weight: bold;
    font-size: 20px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
}

button:hover {
    background-color: #16bd16;
}

 